/**/
//
//
//	A collection of helpful LESS functions
//	by Joni Korpi			<http://jonikorpi.com/>
//	No rights reserved.
//	
//


.box-shadow (@string) {
	-webkit-box-shadow: @string;
	   -moz-box-shadow: @string;
			box-shadow: @string;
}

.border-radius (@radius: 2px) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
			border-radius: @radius;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-webkit-border-top-left-radius: @topleft;
	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	-moz-border-radius-topleft: @topleft;
	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;
}

.rotate (@deg){
	-webkit-transform: rotate(@deg);
	   -moz-transform: rotate(@deg);
	   	-ms-transform: rotate(@deg);
			transform: rotate(@deg);
}

.skew (@deg, @deg2){
	-webkit-transform: skew(@deg, @deg2);
	   -moz-transform: skew(@deg, @deg2);
	   	-ms-transform: skew(@deg, @deg2);
			transform: skew(@deg, @deg2);
}

.translate (@x, @y:0) {
	-webkit-transform: translate(@x, @y);
	   -moz-transform: translate(@x, @y);
		-ms-transform: translate(@x, @y);
			transform: translate(@x, @y);
}

.translate3d (@x, @y:0, @z:0) {
	-webkit-transform: translate3d(@x, @y, @z);
	   -moz-transform: translate3d(@x, @y, @z);
		-ms-transform: translate3d(@x, @y, @z);
			transform: translate3d(@x, @y, @z);
}

.scale (@factor) {
	-webkit-transform: scale(@factor);
	   -moz-transform: scale(@factor);
	   	-ms-transform: scale(@factor);
			transform: scale(@factor);
}

.perspective (@value:1000) {
	-webkit-perspective: @value;
	   -moz-perspective: @value;
		-ms-perspective: @value;
			perspective: @value;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	   -moz-transition: @transition;
	   	-ms-transition: @transition;  
			transition: @transition;
}

.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	   -moz-transform-origin: @x @y;
		-ms-transform-origin: @x @y;
			transform-origin: @x @y;
}

.horizontal-gradient (@startColor: #555, @endColor: #333) {
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(right center, @startColor, @endColor);
	background-image: -moz-linear-gradient(right center, @startColor, @endColor);
}

.horizontal-three-color-gradient (@firstStop: 0, @startColor: #00b3ee, @midStop: 0.5, @midColor: #7a43b6, @lastStop: 1, @endColor: #c3325f) {
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, left top, right top, 
		color-stop(@firstStop, @startColor), 
		color-stop(@midStop, @midColor), 
		color-stop(@lastStop, @endColor));
	background-image: -webkit-linear-gradient(
		@startColor @firstStop, 
		@midColor @midStop, 
		@endColor @lastStop);
	background-image: -moz-linear-gradient(
		@startColor @firstStop, 
		@midColor @midStop, 
		@endColor @lastStop);
}

.horizontal-four-color-gradient (@firstStop: 0, @startColor: #00b3ee, @secondStop: 0, @secondColor: #00b3ee, @midStop: 0.5, @midColor: #7a43b6, @lastStop: 1, @endColor: #c3325f) {
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, left top, right top, 
		color-stop(@firstStop, @startColor), 
		color-stop(@secondStop, @secondColor), 
		color-stop(@midStop, @midColor), 
		color-stop(@lastStop, @endColor));
	background-image: -webkit-linear-gradient(
		@startColor @firstStop,
		@secondColor @secondStop, 
		@midColor @midStop, 
		@endColor @lastStop);
	background-image: -moz-linear-gradient(
		@startColor @firstStop, 
		@secondColor @secondStop,
		@midColor @midStop, 
		@endColor @lastStop);
}

.vertical-gradient (@startColor: #555, @endColor: #333) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(@startColor, @endColor);
	background-image: -moz-linear-gradient(@startColor, @endColor);
}

.vertical-three-color-gradient (@startColor: #00b3ee, @colorStop: 0.5, @midColor: #7a43b6, @endColor: #c3325f) {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
	background-image: -webkit-linear-gradient(@startColor, color-stop(@colorStop, @midColor), @endColor);
	background-image: -moz-linear-gradient(@startColor, color-stop(@midColor, @colorStop), @endColor);
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


// placeholder 
.placeholder(@color: @input-color-placeholder) {
  &::-moz-placeholder           { color: @color;   // Firefox
                                  opacity: 1; } // See https://github.com/twbs/bootstrap/pull/11526
  &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

// button 
button {
  display: inline-block;
  // .ie7-inline-block();
  color: #eee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  padding: 8px 12px 10px;
  margin-bottom: 0; // For input.btn
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  .vertical-gradient(#EF5A3A, #D33B1D);
  background-color: #D33B1D;
  border: 1px solid #AF2308;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  // border-bottom-color: darken(@btnBorder, 10%);
  .border-radius(6px);
  // .ie7-restore-left-whitespace(); // Give IE7 some love
  .box-shadow(~"inset 0 1px 1px rgba(255,255,255,.25), inset 0 -1px rgba(0,0,0,.15)");

  // Hover state
  &:hover {
    text-decoration: none;
    background: #D33B1D;
    background-position: 0 15px;

    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background .1s linear);
  }
}