<header class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="navbar-header m-navbar-header">
      <!-- <button type="button" class="btn btn-default navbar-btn pull-left" style="margin-left:10px;">
         <i class="fa fa-caret-left"></i>
      </button> -->
      <a href="#" class="navbar-brand"><i class="fa fa-angle-left"></i>&nbsp;Status Update</a>
      <button type="button" class="btn btn-warning navbar-btn pull-right" style="margin-right:10px;">
         <i class="fa fa-adjust"></i>
      </button>
   </div>
</header>