<header class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="navbar-header m-navbar-header">
      <button type="button" class="btn btn-default navbar-btn pull-left" style="margin-left:10px;">
         <i class="fa fa-bars"></i>
      </button>
      <!-- <ul class="pull-right list-inline">
         <li>
            <div class="input-group">
               <span class="input-group-addon" style="width:auto;"><i class="fa fa-map-marker"></i></span>
               <select class="form-control">
                  <option>Jakarta</option>
                  <option>Surabaya</option>
                  <option>Medan</option>
                  <option>Bandung</option>
                  <option>Yogyakarta</option>
               </select>
            </div>
         </li>
         <li>
            <a href="#" class="" style="margin-right:8px; padding: 0 8px;">
               <i class="fa fa-pencil-square" style="font-size:2.5em;"></i>
            </a>
         </li>
      </ul> -->
   </div>

   <!-- No Script -->
   <noscript>
      <div class="flash-msg error-msg">
         Oops. Seems either you disabled Javascript or your browser doesnt support that.
      </div>
   </noscript>
   
   <!-- Flash -->
   <div id="waku_msg" class="flash-msg {{ msg_type }}">
      {{ msg_description }}
   </div>
</header>